<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>About Us</title>
    <style>
        .nav-link {
            font-size: 16px;
            font-weight: bold;
            margin: 8px;
        }

        .nav-link:focus {
            color: darkcyan;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="nav-fill">
                    <div class="navbar-nav ">
                        <a class="nav-link" href="home">Home</a>
                        <a class="nav-link " href="aboutus">About Us</a>
                        <a class="nav-link" href="contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>

<br><br>

<div class="container">
    <div class="row text-center">
        <h1>About Our Team</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam hic porro quod architecto tempore
            repellendus, placeat tenetur quasi pariatur assumenda dolorem iusto distinctio quo facere culpa aperiam,
            quis modi quae?</p>
    </div>
</div>
<br><br>

<div class="container">
    <br><br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-cute-girl-avatar-is-available-for-commercial-use-png-image_678746.jpg"
                    class="card-img-top" alt="..." height="150">
                <div class="card-body">
                    <h5 class="card-title">Hala Hamdy</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Contact Me</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-cute-girl-avatar-is-available-for-commercial-use-png-image_678746.jpg"
                class="card-img-top" alt="..." height="150">
                <div class="card-body">
                    <h5 class="card-title">Sara Adel</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Contact Me</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://png.pngtree.com/png-vector/20190130/ourlarge/pngtree-cute-girl-avatar-is-available-for-commercial-use-png-image_678746.jpg"
                class="card-img-top" alt="..." height="150">
                <div class="card-body">
                    <h5 class="card-title">Hadeer Hamdy</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Contact Me</a>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>

</html>